<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp-Demo</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
        <div class="navbar">
       <a href="/"><h1 class="title" id="logo"> Su-Camp</h1></a>
        <div class="navbar-links">

       <%  if (!currentUser) { %>
        <a href="/register">Signup</a>
        <a href="/login">Login</a>
       <% } else { %>
        <a> Signed in as <%= currentUser.username %>   </a>
        <a href="/logout">Logout</a>
       <% } %>


        </div>
        </div>
        </nav>
        
        
