<% include partials/header %> 

<link href="/style.css" rel="stylesheet" type="text/css">
<main> 
<section id='brand-text'>
<h1>uCamp</h1>
<h4>Where will <strong>you</strong> go?</h4>
</section>
<div id='cta-buttons'> 
<a href="/campgrounds" id='offer-btn'>Show Offers</a>

<a href='/register' id='signup-btn'>Sign-up</a>

</div>

</main>
<% include partials/footer %> 